/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* -------------------------------- */

.navbar {
    display: flex;
    height: 100px;
}

.nav-bg {
    background: #a6cdf9;
}

body {
    background-color: #000000;
}

main {
    padding: 2rem 0;
}

.filter-cat {
    color: #ffffff;
    font-weight: normal;
}

.content-box-article {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #700041;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-img {
    border-radius: 25px;
    width: 45px;
    height: 20px;
    font-size: 9px;
    padding: 0;
}

.bi-pinterest {
    margin-right: 3px;
}

.icon-box {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-search {
    font-size: 11px;
    line-height: 1;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 1px white;
    margin-top: 1px;
}

.card-body {
    padding-bottom: 0;
    padding-right: 0;
}

.input-category {
    width: auto;
    /* min-width: fit-content; */
    padding: 0.25rem 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.btn-outline-custom {
    background-color: #a6cdf9;
    color: #80044c;
    font-weight: bolder;
    border-color: #80044c;
    border-width: 2px;
}

.btn-outline-custom:hover {
    color: #a6cdf9;
    font-weight: bolder;
    background-color: #80044c;
    border-color: #a6cdf9;
    border-width: 2px;
}

.content-box-update {
    width: 100%;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    align-items: stretch;
    margin: 0 auto;
}

.stile-form {
    border: 2px #a6cdf9;
}

.form-label {
    font-weight: bold;
}

.img-fluid {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.btn-logged,
.badge-cat {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #80044c;
}

.btn-logged:hover,
.btn-logged.show,
.badge-cat:hover,
.badge-cat.show,
.badge-cat.selected {
    background-color: #80044c;
    color: #ffffff;
}

.light-text {
    font-weight: normal;
    font-size: large;
}

.text-user {
    font-weight: bold;
    font-size: larger;
}

.dropdown-item {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: rgba(155, 35, 97, 0.499);
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
    font-weight: bold;
    transition: text-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.btn-login {
    color: #ffffff;
    background-color: #000000;
    border: 5px solid #80044c;
}

.btn-login:hover,
.btn-login.show {
    color: #ffffff;
    background-color: #80044c;
    border: 5px solid #000000;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #80044c;
}

.dropdown-toggle::after {
    display: none;
}

.input-usn,
.input-psw {
    border: 2px solid #a6cdf9 !important;
}