/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

html {
    scroll-behavior: smooth;
}

/* -------------------------------- */

/* navbar */

/* Per dispositivi mobile (fino a lg) */
@media (max-width: 991.98px) {

    .centered-logo {
        /* Logo al centro in mobile */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Assicura che il bottone toggler rimanga in flusso (a sinistra) */
    .navbar .navbar-toggler {
        position: relative;
        z-index: 2;
    }
}

@media (min-width: 992px) {
    #navbarNavMobile {
        display: none !important;
    }
}

.offcanvas {
    background-color: rgb(33, 37, 41);
}

.offcanvas-header {
    display: flex;
    align-items: center;
}

.nav-link-mobile {
    color: #fff !important;
}

.navbar {
    display: flex;
    height: 100px;
    background-color: rgba(166, 205, 249, 0.6);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
    animation: breathing 8s ease-in-out infinite alternate;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.btn-nav {
    color: #2d3a4f !important;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    transition: text-shadow 0.1s ease-in-out;
    font-size: larger;
}

.btn-nav:hover {
    color: #ffffff !important;
    text-shadow:
        0 0 5px rgb(97, 1, 51),
        0 0 10px rgb(165, 2, 86),
        0 0 15px rgb(252, 3, 132);
    transform: scale(1.15);
    transition: all 0.1s ease-in-out;
}

.btn-login {
    color: #ffffff;
    background-color: #000000;
    border: 5px solid #80044c;
}

.btn-login:hover,
.btn-login.show {
    color: #ffffff;
    background-color: #80044c;
    border: 5px solid #000000;
}

.light-text {
    font-weight: normal;
    font-size: large;
}

.text-user {
    font-weight: bold;
    font-size: larger;
}

.btn-logged,
.badge-cat {
    background-color: #c6dffd;
    color: #000000;
    border: 3px solid #80044c;
}

.badge-cat {
    padding: 8px;
    font-size: medium;
}

.btn-logged:hover,
.btn-logged.show,
.badge-cat:hover,
.badge-cat.show,
.badge-cat.selected {
    background-color: #80044c;
    color: #ffffff;
}

.dropdown-item {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: rgba(155, 35, 97, 0.499);
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
    font-weight: bold;
    transition: text-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #80044c;
}

.dropdown-toggle::after {
    display: none;
}

/* ------------------------------------------ */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/img/bgBody6.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: -1;
}

main {
    padding: 2rem 0;
}

.container-home {
    max-width: 1500px;
}

.filter-cat {
    color: #ffffff;
    font-weight: normal;
}

.content-box-article {
    width: 100%;
    max-width: 1500px;
    padding: 60px 30px 60px 30px;
    margin-bottom: 180px;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #c6dffd;
}

.row-article {
    gap: 150px;
}

.col-article {
    flex: 1 1 365.33px;
    max-width: 365.33px;
}

@media (max-width: 992px) {
    .col-article {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .col-article {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.card {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-3px) scale(1.05);
}

.card-body {
    background-color: #ffffff;
}

.img-fluid {
    width: 100%;
    height: 245px;
    object-fit: cover;
    border: none !important;
}

.btn-img {
    border-radius: 25px;
    width: 55px;
    height: 20px;
    font-size: 9px;
    padding: 0;
}

.bi-pinterest {
    margin-right: 3px;
}

.icon-box {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-search-img {
    font-size: 11px;
    line-height: 1;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 1px white;
    margin-top: 1px;
}

.fa-magnifying-glass-plus {
    mix-blend-mode: difference;
    color: white;
}

.card-body {
    padding-bottom: 0;
    padding-right: 0;
}

.input-cat {
    width: auto;
    height: 38px;
    padding: 0.25rem 0.5rem;
    border: 3px solid #80044c;
    border-radius: 0.25rem;
    background-color: #c6dffd;
}

.input-cat::placeholder {
    color: #000000;
    font-weight: 200;
    font-size: normal;
}

.input-cat:hover {
    border-color: #80044c !important;
    box-shadow: 0 0 0 0.1rem rgba(253, 152, 211, 0.5);
    outline: none;
}

.input-cat:focus {
    border-color: #80044c !important;
    box-shadow: 0 0 0 0.1rem rgba(253, 152, 211, 0.5);
    outline: none;
}

.btn-save {
    background-color: #80044c;
    color: #ffffff;
    height: 38px;
    border: 2px solid #c6dffd;
}

.btn-save:hover {
    background-color: #80044c;
    color: #ffffff;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.btn-outline-custom {
    background-color: #a6cdf9;
    color: #80044c;
    font-weight: bolder;
    border-color: #80044c;
    border-width: 2px;
}

.btn-outline-custom:hover {
    color: #a6cdf9;
    font-weight: bolder;
    background-color: #80044c;
    border-color: #a6cdf9;
    border-width: 2px;
}

.content-box-update {
    width: 100%;
    max-width: 1500px;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    align-items: stretch;
    margin: 0 auto;
}

.stile-form {
    border: 2px #a6cdf9;
}

.form-label {
    font-weight: bold;
    font-size: 25px;
}

.input-usn,
.input-psw,
.form-control,
.form-select {
    border: 4px solid #a6cdf9 !important;
}

.form-control:focus {
    border: 5px solid #a6cdf9 !important;
    box-shadow: 0 0 0 0.2rem rgba(253, 152, 211, 0.5);
    outline: none;
}


.btn-delete,
.btn-update,
.btn-show {
    border: 2px solid;
}

.btn-delete:hover,
.btn-update:hover,
.btn-show:hover {
    color: #fff;
}

.icon-scale {
    transform: scale(1.25);
    display: inline-block;
}

.img-modal {
    object-fit: cover;
    width: 100%;
}

.btn-back {
    color: #76b4fa;
    font-weight: bold;
    font-size: larger;
    text-shadow: 0 0 5px #ba046e;
}

.btn-back:hover {
    color: #ba046e;
    font-weight: bold;
    font-size: larger;
    text-shadow: 0 0 5px #1c85fc;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-3px) scale(1.05);
}

.img-profile {
    max-width: 170px !important;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.card-profile {
    min-width: 500px;
    min-height: 400px;
}

.content-box-img {
    width: 220px;
    height: 220px;
    border: 2px solid #a6cdf9;
    border-radius: 8px;
}

.btn-imgProfile {
    color: #a6cdf9;
}

.photo-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.table-container {
    padding: 2rem;
    border-radius: 0.5rem;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table {
    margin-bottom: 0;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;

}

.custom-table th,
.custom-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #2d3a4f;
}

.custom-table thead {
    font-weight: bold;
}

.custom-table td {
    background-color: rgba(166, 205, 249, 0.6) !important;
    color: #c6dffd;
}

.custom-table th {
    background-color: #2d3a4f !important;
    color: #c6dffd;
}

.custom-table tbody tr:last-child td {
    border-bottom: none;
    /* Rimuove la linea in basso nell'ultima riga */
}

.col-post,
.col-author,
.col-status,
.col-btn {
    width: 25%;
}

.text-approval {
    text-shadow: 0 0 5px #198754, 0 0 8px #198754, 0 0 11px #198754, 0 0 15px #029d55, 0 0 15px #029d55;
    color: #c6dffd;
}

.text-review {
    text-shadow: 0 0 5px #0A58CA, 0 0 8px #0D6EFD, 0 0 11px #0D6EFD, 0 0 15px #0D6EFD, 0 0 15px #0D6EFD;
    color: #c6dffd;
}

.text-rejected {
    text-shadow: 0 0 5px #fe435faa, 0 0 8px #fe435faa, 0 0 12px #DC3545, 0 0 12px #fe435f;
    color: #c6dffd;
}

.img-show {
    width: 600px !important;
    margin: 0 auto;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modern-card {
    background: linear-gradient(to bottom, #2d3a4f00 0%, #2d3a4f 200%);
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.modern-card:hover {
    transform: translateY(5px) scale(1.10);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-approve {
    background-color: #2d3a4f;
    border: 1px solid #44cd78;
    color: #44cd78;
}

.btn-approve:hover {
    background-color: #44cd78;
    border: 1px solid #44cd78;
    color: #2d3a4f;
    transform: translateY(-3px) scale(1.10);
}

.btn-reject {
    background-color: #2d3a4f;
    border: 1px solid #fe435f;
    color: #fe435f;
}

.btn-reject:hover {
    background-color: #fe435f;
    border: 1px solid #fe435f;
    color: #2d3a4f;
    transform: translateY(-3px) scale(1.10);
}

.btn-reviewLater {
    color: #76b4fa;
    text-shadow: 0 0 5px #ba046e;
}

.btn-reviewLater:hover {
    color: #ba046e;
    text-shadow: 0 0 5px #1c85fc;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-3px) scale(1.05);
}

.badge-cat_inArt {
    background-color: #80044c;
    color: #ffffff;
}

#previewModal .card:hover {
    transform: none !important;
}

.custom-modal {
    width: 100vw;
    height: calc(100vh - 100px);
    margin-top: 100px;
    max-width: none;
    --bs-modal-bg: rgba(45, 58, 79, 0.498);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: center;
    align-items: start;
}

.card-modal {
    max-width: 1000px;
    height: auto;
    margin: 150px;
    background: rgba(45, 58, 79, 0.498);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: #c6dffd;
}

.btn-close {
    --bs-btn-close-opacity: 1 !important;
    stop-opacity: var(--bs-btn-close-opacity);
}

.container-profile {
    min-height: 80vh;
}

.content-box-profile {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #c6dffd;
}

.carousel {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
}

.carousel-inner {
    height: 100%;
    /* Assicura che l'altezza dell'inner del carosello sia quella del carosello */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
}

.card-signUp {
    background: rgba(45, 58, 79, 0.498);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: #c6dffd;
    width: 300px;
    padding: 20px 0;
}

.btn-signUp {
    width: 60%;
    font-weight: bold;
    font-size: larger;
}