/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* -------------------------------- */

/* navbar */

/* Per dispositivi mobile (fino a lg) */
@media (max-width: 991.98px) {

    .centered-logo {
        /* Logo al centro in mobile */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Assicura che il bottone toggler rimanga in flusso (a sinistra) */
    .navbar .navbar-toggler {
        position: relative;
        z-index: 2;
    }
}

@media (min-width: 992px) {
    #navbarNavMobile {
        display: none !important;
    }
}

.offcanvas {
    background-color: rgb(33, 37, 41);
}

.offcanvas-header {
    display: flex;
    align-items: center;
}

.nav-link-mobile {
    color: #fff !important;
}

.navbar {
    display: flex;
    height: 100px;
}

.nav-bg {
    background: #a6cdf9;
}

.navbar-logo {
    animation: breathing 8s ease-in-out infinite alternate;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.btn-nav {
    color: #2d3a4f !important;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    transition: text-shadow 0.1s ease-in-out;
    font-size: larger;
}

.btn-nav:hover {
    color: #ffffff !important;
    text-shadow:
        0 0 5px rgb(97, 1, 51),
        0 0 10px rgb(165, 2, 86),
        0 0 15px rgb(252, 3, 132);
    transform: scale(1.15);
    transition: all 0.1s ease-in-out;
}

.btn-login {
    color: #ffffff;
    background-color: #000000;
    border: 5px solid #80044c;
}

.btn-login:hover,
.btn-login.show {
    color: #ffffff;
    background-color: #80044c;
    border: 5px solid #000000;
}

.light-text {
    font-weight: normal;
    font-size: large;
}

.text-user {
    font-weight: bold;
    font-size: larger;
}

.btn-logged,
.badge-cat {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid #80044c;
}

.btn-logged:hover,
.btn-logged.show,
.badge-cat:hover,
.badge-cat.show,
.badge-cat.selected {
    background-color: #80044c;
    color: #ffffff;
}

.dropdown-item {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: rgba(155, 35, 97, 0.499);
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
    font-weight: bold;
    transition: text-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #80044c;
}

.dropdown-toggle::after {
    display: none;
}

/* ------------------------------------------ */

body {
    background-color: #000000;
}

main {
    padding: 2rem 0;
}

.filter-cat {
    color: #ffffff;
    font-weight: normal;
}

.content-box-article {
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.img-article {
    width: 800px !important;
    margin: 0 auto;
    margin-bottom: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-img {
    border-radius: 25px;
    width: 45px;
    height: 20px;
    font-size: 9px;
    padding: 0;
}

.bi-pinterest {
    margin-right: 3px;
}

.icon-box {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-search-img {
    font-size: 11px;
    line-height: 1;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 1px white;
    margin-top: 1px;
}

.fa-magnifying-glass-plus {
    mix-blend-mode: difference;
    color: white;
}

.card-body {
    padding-bottom: 0;
    padding-right: 0;
}

.input-cat {
    width: auto;
    height: 38px;
    padding: 0.25rem 0.5rem;
    border: 3px solid #80044c;
    border-radius: 0.25rem;
}

.input-cat:hover {
    border-color: #80044c !important;
    box-shadow: 0 0 0 0.1rem rgba(253, 152, 211, 0.5);
    outline: none;
}

.input-cat:focus {
    border-color: #80044c !important;
    box-shadow: 0 0 0 0.1rem rgba(253, 152, 211, 0.5);
    outline: none;
}


.btn-save {
    background-color: #ffffff;
    height: 38px;
    border: 2px solid;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.btn-outline-custom {
    background-color: #a6cdf9;
    color: #80044c;
    font-weight: bolder;
    border-color: #80044c;
    border-width: 2px;
}

.btn-outline-custom:hover {
    color: #a6cdf9;
    font-weight: bolder;
    background-color: #80044c;
    border-color: #a6cdf9;
    border-width: 2px;
}

.content-box-update {
    width: 100%;
    max-width: 1000px;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    align-items: stretch;
    margin: 0 auto;
}

.stile-form {
    border: 2px #a6cdf9;
}

.form-label {
    font-weight: bold;
}

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.input-usn,
.input-psw,
.form-control,
.form-select {
    border: 4px solid #a6cdf9 !important;
}

.form-control:focus {
    border: 5px solid #a6cdf9 !important;
    box-shadow: 0 0 0 0.2rem rgba(253, 152, 211, 0.5);
    outline: none;
}


.btn-delete,
.btn-update,
.btn-show {
    border: 2px solid;
}

.icon-scale {
    transform: scale(1.25);
    display: inline-block;
}

.img-modal {
    object-fit: cover;
    width: 100%;
}

.btn-back {
    color: #a6cdf9;
    font-weight: bold;
    font-size: larger;
    text-shadow: 0 0 7px #ff0195;
}

.btn-back:hover {
    color: #ba046e;
    font-weight: bold;
    font-size: larger;
    text-shadow: 0 0 10px #a6cdf9;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-3px) scale(1.05);
}

.img-profile {
    max-width: 170px !important;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
}

.card-profile {
    min-width: 500px;
    min-height: 400px;
}

.content-box-img {
    width: 220px;
    height: 220px;
    border: 2px solid #a6cdf9;
    border-radius: 8px;
}

.btn-imgProfile {
    color: #a6cdf9;
}

.photo-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.table-container {
    padding: 2rem;
    border-radius: 0.5rem;
    background: #2d3a4f7f;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Ombra leggera */
}

.table {
    margin-bottom: 0;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0.5rem;
    overflow: hidden;

}

.custom-table th,
.custom-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #2d3a4f;
    /* Linee di separazione */
    color: white;
}

.custom-table thead {
    font-weight: bold;
}

.custom-table td {
    background-color: #a6cdf9 !important;
    color: #2d3a4f;
}

.custom-table th {
    background-color: #2d3a4f !important;
}

.custom-table tbody tr:last-child td {
    border-bottom: none;
    /* Rimuove la linea in basso nell'ultima riga */
}


.col-post,
.col-author,
.col-btn {
    width: 33.33%;
}